# Byte-compiled / optimized python files
__pycache__/
*.py[cod]

# Data files we don’t want in Git
*.csv
*.xls
*.xlsx

# SQLite DBs
*.sqlite3
*.db

# Generated JSON folder
ihid_json/
omop_output/

# Environment vars
.env

# Temporary and system files
.DS_Store
Thumbs.db
